* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container {
    width: 80%;
    margin: auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

.card {
    padding: 10px;
    margin-top: 50px;
    border: 1px solid;
    background-color: #c7c7d0;
    text-align: center;
}

.s-form {
    width: 90%;
    padding: 15px 0;
    margin: 10px;
}

h2 {
    font-size: 30px;
}

.input-form {
    padding: 0;
    margin: 0;
}

input[type="text"],
input[type="password"]{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.button-f {
    width: 50%;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    font-size: 20px;
}

